$base-font-family-primary:      'Lato', sans-serif;
$base-font-family-secondary:    'Vollkorn', sans-serif;

$base-font-family:      $base-font-family-primary;
$base-font-size:        18px;
$base-font-weight:      400;
$base-line-height:      1.5;

$base-header-height-sm: 53px;
$base-header-height-lg: 66.5px;

$base-hamburger-color:  #222;

$rem-baseline: $base-font-size;

/*
** Header
*/
$header-bg-color:       #fff;
$header-text-color:     #222;

$header-logo-width:     65px;
$header-logo-height:    auto;

/*
** Footer
*/
$footer-bg-color:       $header-text-color;
$footer-text-color:     darken($header-bg-color, 45);
