$base-font-family-primary:      'Lato', sans-serif;
$base-font-family-secondary:    'Vollkorn', sans-serif;

$base-font-family:      $base-font-family-primary;
$base-font-size:        18px;
$base-font-weight:      400;
$base-line-height:      1.5;

$base-header-height-sm: 54px;
$base-header-height-lg: 74px;

$base-hamburger-color:  #222;

$rem-baseline: $base-font-size;
