html {
	font-size: $base-font-size;
	overflow-x: hidden;
}

body {
    position: relative;
    padding-top: $header-height-sm;

    @include media-breakpoint-up(md) {
        padding-top: $header-height-lg;
    }
}

#MobileOverlayTrigger {
	@extend .sr-only;
	position: fixed;
}

a {
	transition: 0.15s ease-in-out;
}

*:focus {
    outline: 0;
}
