html {
	font-size: $base-font-size;
	overflow-x: hidden;
}

#MobileOverlayTrigger {
	@extend .sr-only;
	position: fixed;
}

#PageWrapper {
    padding-top: $base-header-height-sm;

    @include media-breakpoint-up(md) {
        padding-top: $base-header-height-lg;
    }
}

a {
	transition: 0.15s ease-in-out;
}
