#PageHeader {
    @include header-sm();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
	text-transform: uppercase;
    z-index: 100;

	[class*="container"] {
		display: flex;
		justify-content: space-between;
		align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }

    #Logo {
        img {
            display: block;
            width: $header-logo-width;
            height: $header-logo-height;
        }
    }

    &.headroom {
        will-change: margin-top, opacity, padding;
        transition: all .2s ease-in-out;
    }

    &.headroom--pinned {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
    }

    &.headroom--unpinned {
        margin-top: -30px;
        visibility: hidden;
        opacity: 0;
    }

    &.headroom--not-top {
        @include header-sm();
        background-color: theme-color('dark');
    }

    @include media-breakpoint-up(md) {
        @include header-md();
    }

    @include media-breakpoint-up(lg) {
        @include header-lg();
    }
}
